h1 {
  font-size: 2em;
}

.inputB {
  background-color: lightgreen;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
  margin-top: 50px;
  cursor: pointer;
}

.loginPage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginHolder {
  box-shadow: 0px 0px 4px 7px rgba(30, 30, 30, 0.25);
  font: "Inter", sans-serif;
  background-color: white;

  height: 80vh;
  width: 60vh;

  border-radius: 10%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginHolder h1 {
  font-size: 8vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputBox {
  border-radius: 14px;
  padding: 15px;
  border-width: 1px;

  width: 50vh;
}

.inputButton {
  border-radius: 14px;
  font-size: 20px;
  padding: 10px;
  width: 50vh;

  border-color: #7ee28e;
  color: white;
  background-color: #7ee28e;
}

.userInput {
  background: url(../img/profile.svg) no-repeat scroll 12px 12px;
  padding-left: 40px;
}

.passInput {
  background: url(../img/lock.svg) no-repeat scroll 12px 12px;
  padding-left: 40px;
}

.homeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.greenText {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
}

.Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.Info h1 {
  font-size: 1.8em;
}

.InfoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  width: 30%;
  height: 60vh;
}

.InfoCard img {
  width: 90%;
}

.purp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  width: 100%;
}

.gameTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #1e1e1e;
  font-size: 1.3em;
}

.GameInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.GameDesc {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 40vh;
  justify-content: space-around;
  align-items: center;
  background-color: #edf4f3;
  border-radius: 40px;
}

.GameDesc h3 {
  font-weight: bold;
}

.GameImg {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  gap: 3%;
}

.GameLogin {
  border: 2px solid #79c585;
  color: #79c585;
  font-weight: bold;
  background: none;
  width: 70%;
}

.GameImg img {
  width: 10%;
}

.GameImg h2 {
  font-size: 1.9em;
  font-weight: bold;
}

.Points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.classRow {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 5%;
}

.pointDisplay {
  font-size: 1.7em;
  padding: 10px;
  border: 5px solid black;
  border-color: black;
  border-radius: 50px;
  display: flex;
  gap: 1%;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #edf4f3;
}

.leaderboard-header {
  display: flex;
  align-items: flex-end;
  gap: 2%;
  background-color: #edf4f3;
  border-radius: 50px;
  justify-content: center;
  padding: 0.5%;
  width: 80%;
}

.highScoreIcon {
  width: 7%;
}

footer {
  background: linear-gradient(
    0deg,
    #79c585 20%,
    #79c585 40%,
    rgba(121, 197, 133, 0.48) 70.51%,
    rgba(121, 197, 133, 0) 100%
  );
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 3%;
  font-size: 1.3em;
}

.footer-1 {
  display: flex;
  align-items: center;
  gap: 8%;
}
