.inputB {
  background-color: lightgreen;
  border-radius: 10%;
  padding: 10px;
  font-size: 30px;
}

.loginPage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginHolder {
  font: "Inter", sans-serif;
  background-color: white;
  border-radius: 10%;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputBox {
  border-radius: 5%;
  padding: 10px;
  border-width: 1px;
  width: 300px;
}

.inputButton {
  border-radius: 10%;
  font-size: 20px;
  padding: 10px;
  border-color: #7ee28e;
  color: white;
  background-color: #7ee28e;
}
